@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Patty</h1><br />
    <h4 class="display-6">This week's menu:</h4><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3  text-sm-left">Saturday</div></div>
            <div class="col-sm-5"><div class="p-3  bg-light text-sm-left"><a href="#">Chili</a>, Cornbread</div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Sunday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-sm-left"><a href="#">Lasagna</a>, side salad</div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Monday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-lg-left">Grilled Cheese, Tomato Soup</div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Tuesday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-lg-left"><a href="#">Chicken Caesar Salad</a> </div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Wednesday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-lg-left">Turkey Burgers, Corn on the Cob</div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Thursday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-lg-left">Leftovers</div></div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-2"><div class="p-3 text-sm-left">Friday</div></div>
            <div class="col-sm-5"><div class="p-3 bg-light text-lg-left">Leftovers</div></div>
        </div>

    </div>
</div>
