<MudContainer>
    <div class="FooterTopWrapper">
        <div class="Logo">
            <img src="Images/Footer/1.png" />
        </div>
        <div class="Logo">
            <a href="https://www.entrepreneur.com/article/397032">
                <img src="Images/Footer/2.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://markets.businessinsider.com/news/stocks/reddocoin-flagship-project-on-the-mission-to-revolutionize-global-dropshipping-business-1030849652">
                <img src="Images/Footer/3.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://finance.yahoo.com/news/reddocoin-fully-automate-whole-dropshipping-102000766.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAMPYY5SSX9dbi3sLaIx8VEjJ8mnpeiDkUyQV5YBqkZAX2TJvdLsheRhimjLX2tkC9FkOjEvxvxBzg8a4Ev9-D7ZKxkJfsx5o7BWhrhcaz7GEm9tQdR0wv-ey6q06YksPov02I4uqn4oEWNSQ4AB2bmyQ_amDIcbBQaNGmyJBMcsM">
                <img src="Images/Footer/4.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.marketwatch.com/press-release/reddocoin-launches-revolutionary-integrative-blockchain-solution-for-dropshipping-business-2021-09-27">
                <img src="Images/Footer/5.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.benzinga.com/pressreleases/21/09/ab23180121/reddocoin-the-crypto-project-automating-global-dropshipping">
                <img src="Images/Footer/6.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.coinspeaker.com/reddocoin-launches-ai-powered-dropshipping-solution/">
                <img src="Images/Footer/7.png" />
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.digitaljournal.com/pr/reddocoin-takes-dropshipping-to-the-blockchain">
                <img src="Images/Footer/8.png" />
            </a>
        </div>
    </div>
</MudContainer>