<MudContainer>
    <div class="row FooterBottom">
        <div class="col-md-5 LogoMail">
            <div class="reddocoin-footer-logo">
                <img src="./Images/Vertical Logo with Icon.png"/>
            </div>
            <div class="copyright">
                <p>Copyright © 2021. <span>Reddocoin</span> All rights reserved.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="footer-menu">
                <p class="heading">Information</p>
                <ul>
                    <li>
                        <NavLink href="CookiePolicy">Cookie Policy</NavLink>
                    </li>
                    <li>
                        <NavLink href="GeneralTermsOfUse">General Terms of Use</NavLink>
                    </li>
                    <li><NavLink href="PrivacyPolicy">Privacy Policy</NavLink></li>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-menu">
                <p class="heading">Documents</p>
                <ul>
                    <li>
                        <a href="https://reddocoin.com/wp-content/uploads/2021/07/WHITEPAPER.pdf">Whitepaper</a>
                    </li>
                    <li>
                        <a href="https://fiverr-res.cloudinary.com/image/upload/q_auto,f_pdf/v1/secured-attachments/message/attachments/613d4d4aba350ef5496d85419956825d-1638114438334/Onepager%20%288-30-21%29.pdf?__cld_token__=exp=1638136671~hmac=33cf785833768e337c2f1476fe4e768112a3a02ef5b683d1833dd4eb153dd2a5">
                        Onepager
                        </a>
                    </li>
                    <li>
                        <a href="https://fiverr-res.cloudinary.com/image/upload/q_auto,f_pdf/v1/secured-attachments/message/attachments/613d4d4aba350ef5496d85419956825d-1638114275706/WHITEPAPER%20%288-30-21%29.pdf?__cld_token__=exp=1638136671~hmac=4152587c5ed5d33fda22b8a35c74a57430d89b21972f46bb9c92cc84bbb42b47">
                        Pitch Deck
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-menu">
                <p class="heading">Community</p>
                <div class="hr-social-menu">
                    <div class="fb">
                        <a href="https://www.facebook.com/Reddocoin"><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="twitter">
                        <a href="https://twitter.com/reddocoin"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="telegram">
                        <a href="https://t.me/joinchat/tXThQ43djQE5OWEy"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                    <div class="reddit">
                        <a href="https://www.reddit.com/r/Reddocoin/"><i class="fab fa-reddit-alien"></i></a>
                    </div>
                    <div class="youtube">
                        <a href="https://www.youtube.com/channel/UCS6GwDTHfrEze4AFj9OUM9g"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/company/reddocoin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="medium">
                        <a href="https://www.youtube.com/channel/UCS6GwDTHfrEze4AFj9OUM9g"><i class="fab fa-medium-m"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</MudContainer>