[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Md_Towhid
	email = towhid.cse2015to@gmail.com
[core]
	autocrlf = false
