@{
    Layout = "~/views/shared/_home.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="row p-0 m-0 bg-light vh-100 align-items-center">
    <div class="col-sm-12">


        <div id="regform" class="text-center mx-auto rounded">
            <div class="text-center pt-1 pb-4">
                <a asp-action="login" asp-controller="auth"><img src="/rtwimages/logo.png" alt="Retuirn to Work Interview"></a>
            </div>

            <!-- <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name of trust" id="trust">
                <input type="text" class="form-control" placeholder="Forename" id="forname">
                <input type="text" class="form-control" placeholder="Surname" id="surname">
                <input type="text" class="form-control" placeholder="Email" id="Email">
                <input type="text" class="form-control" placeholder="Direct Line" id="tel">
                <input type="text" class="form-control" placeholder="Extension" id="ext">
                <input type="password" class="form-control" placeholder="Password - min 8 characters" id="pass">

                 <a href="login.html" class="btn btn-block btn-success mt-4" role="button">Create Account</a>
              </div>
            </form> -->
            <h6 class="text-danger py-2">This application is intended for use by Wirral NHS Staff only<br>Do not enter without authorisation </h6>
            <div class="py-2">
                <a asp-action="login" asp-controller="auth" class="btn btn-block btn-success mt-4" role="button">Enter Portal</a>
            </div>
        </div>
    </div>
</div>