
@{
    ViewData["Title"] = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_topbar.cshtml", false)
@Html.Partial("~/Views/RtdAdmin/_infobar.cshtml")
<!-- Start of current projevts grid -->
<section class="container p-2 mt-4">
    <div>
        <h4 class="color-mygreendark pb-2">Terms of Use</h4>
        <p>
            <strong>To Help Prevent Abuses</strong><BR>
            Terms of Use agreements act as a legally-binding contract between a company and its users. These agreements
            establish rules and guidelines for users to agree to and follow to access a mobile app or website.
            They allow you to disclose important pieces of information, as well. In a Terms of Use, you can lay out what
            happens if users abuse your mobile app or website. You can also use your Terms of Use to define abuse, which
            typically includes posting lewd content, spamming users, and other undesirable activity.
        </p>

        <p>
            you have a website or mobile app that hosts user-generated content, your Terms of Use agreement can define what
            is considered harmful language and what your company will not tolerate. While it may seem like these guidelines
            are nit-picky and too detail-dense, it's an essential way for your company to inform customers and define
            guidelines.
        </p>

        <p>
            <strong>To Own Your Content</strong><br>

            As a website owner, there are some forms of content you own right off the bat. These content types include your
            logo and website design, for instance. Just because you own these things, though, does not stop other people
            from ripping them off.
        </p>

        <p>
            <strong>To Terminate Accounts</strong><br>

            In addition to outlining what happens if a person abuses your platform, you can also describe the punishments for such a deed. You may state within your Terms of Use that users who abuse your platforms may be temporarily banned or even terminated. The termination clause is one of the most critical parts of any Terms of Use agreement.<br>
            <br>
            This clause informs your users that any account that is deemed abusive will be terminated and banned from using the service going forward. Termination clauses speak directly to websites that have a registration sector, which means they require users to register before they can use specific functions on your platform. Termination clauses usually look like the following:
        </p>

    </div>

</section>

