
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_topbar.cshtml", false)
@Html.Partial("~/Views/RtdAdmin/_infobar.cshtml")
<!-- Start of current projevts grid -->
<section class="container p-2 mt-4">
    <div>
        <h4 class="color-mygreendark pb-2">Reports</h4>
        <a asp-controller="RtdAdmin" asp-action="Dashboard"><i class="fas fa-arrow-alt-circle-right color-mygreen pr-2"></i>Report One</a>
        <a asp-controller="RtdAdmin" asp-action="Dashboard" class="pl-5"><i class="fas fa-arrow-alt-circle-right color-mygreen pr-2"></i>Report Two</a>
    </div>
</section>
<!-- End of rooms grid -->
