@page "/CookiePolicy"



    <div class="FooterBotomPages">
        <MudContainer>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 class="text-white" style="margin-top: 60px;">Cookie Policy</h2>
                    <section class="text-white footer-section mb-3">
                        <h3 class="mt-5 mb-3">Introduction</h3>
                        <p>
                            This cookie policy explains what cookies are and how Reddocoin and its affiliates (hereinafter, <b>“Reddocoin”, "the Company", "we", "us"</b> or <b>"our"</b>) uses them. Our websites use cookies to distinguish you from other users of our websites. This helps us to provide you with a good experience when you browse our websites and also allows us to improve our sites. By continuing to browse the sites, you are agreeing to our use of cookies, and the terms of this policy ("Cookie Policy").
                        </p>
                    </section>
                    <section class="text-white footer-section" style="margin-top: 50px !important;">
                        <h3>What are cookies?</h3>
                        <p>
                            Cookies are text files, containing small amounts of information, which are downloaded to your browsing device (such as a computer or Smartphone) when you visit a website. Cookies can be recognized by the website that downloaded them — or other websites that use the same cookies. This helps websites know if the browsing device has visited them before.
                        </p>
                    </section>

                    <section class="text-white footer-section mb-3">
                        <h3 class="mt-5 mb-3">What types of cookies are used by Reddocoin?</h3>
                        <div class="mt-3">
                            <ul class="cookies-reddocoin">
                                <li>
                                    <b><i>Strictly necessary cookies.</i></b> These are cookies that are required for the operation of our websites. They include, for example, cookies that enable you to log into secure areas of our websites, use a shopping cart or make use of e-commerce payment processing services.
                                </li>
                                <li>
                                    <b><i>Analytical cookies. </i></b>
                                    They allow us to recognize and count the number of visitors and to see how visitors move around our websites when they are using it. This helps us to improve the way our websites work, for example, by ensuring that users are finding what they are looking for easily.
                                </li>
                                <li>
                                    <b><i>Functionality cookies.</i></b>
                                     These cookies are used to recognize you when you return to our websites. They enable us to personalize our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
                                </li>

                                <li>
                                    <b><i>	Advertising Cookies.</i></b> These cookies are used to deliver advertisements that are more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They remember that you have visited a website and this information may be shared with other organizations such as advertising partners. This means after you have been to our site you may see some advertisements about our services elsewhere on the Internet.
                                </li>
                                <li>
                                    <b><i>	Social Media Cookies.</i></b> In order to enhance your internet experience and to make the sharing of content easier, some of the pages on our website may contain tools or applications that are linked to third party social media service providers such as Facebook, Twitter or Google+. Through these tools or applications, the social media service provider may set its own cookies on your device. We do not control these cookies and you should check the social media service provider’s website for further details about how they use cookies.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="text-white footer-section mb-3">
                        <h3 class="mt-5 mb-3">How long will cookies stay on my browsing Device?</h3>
                        <p>
                            The length of time a cookie will stay on your browsing device depends on whether it is a “persistent” or “session” cookie. Session cookies will only stay on your device until you stop browsing. Persistent cookies stay on your browsing device after you have finished browsing until they expire or are deleted.
                        </p>
                        <p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies),  you may not be able to access all or parts of our sites.</p>
                    </section>

                    <section class="text-white footer-section mb-3">
                        <h3 class="mt-5 mb-3">Questions</h3>
                        <p>
                            If you have any questions about this cookie policy, please contact us by email at <b>info@reddocoin.com</b>
                        </p>
                        <br />
                        <br />
                    </section>
                </div>
            </div>
        </MudContainer>
    </div>