@page "/ecosystem"

<CommonHeroBanner BannerText=" Ecosystem" ForToken="false" JustReddo="false" />

<div class="Ecosystem">
    <MudContainer>
        <div class="row">
            <div class="col-md-4">
                <div class="ecosystem-section d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="Images/Ecosystem/automate-dropshipping.png" />
                    </div>
                    <div class="ecosystem-section-desc text-center">
                        <p class="heading m-0 text-uppercase">Automate Dropshipping</p>
                        <p class="desc m-0">We search, find, and offer only the top selling and highly profitable products.</p>
                        <button>VISIT NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ecosystem-section d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="Images/Ecosystem/nft.png" />
                    </div>
                    <div class="ecosystem-section-desc">
                        <p class="heading m-0 text-uppercase">NFT</p>
                        <p class="desc m-0">
                            <span class="rare text-capitalize">rare than rare</span>
                            </p>
                        <button>Launch Soon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ecosystem-section d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="Images/Ecosystem/market-place.png" />
                    </div>
                    <div class="ecosystem-section-desc">
                        <p class="heading m-0 text-uppercase Decentralized">Decentralized Marketplace</p>
                        <p class="desc m-0">Shopping mall in the device. Fast, simple, secure</p>
                        <button>Launch Soon</button>
                    </div>
                </div>
            </div>
        </div>
    </MudContainer>
</div>