@page "/GeneralTermsOfUse"


<div class="FooterBotomPages">
    <MudContainer>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="text-white" style="margin-top: 60px;">General Terms of Use</h2>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">1. Introduction</h3>
                    <p>
                        In these Reddocoin  General Terms of Use (“Terms”), “Reddo”, "we" and "us" refers Reddocoin and we own and operate the website <a href="https://reddocoin.com/" style="color: lightblue">https://reddocoin.com/</a> ("the Site") which acts as a front-end to the decentralized Reddocoin Platform. These Terms apply to you (“You”) as a user of the Site and Reddocoin front-end, including all the products, services, tools and information made available on the Site.
                    </p>
                    <p>
                        Please read these Terms carefully before using the Site. These Terms apply to any person accessing the Site and by using the Site you agree to be bound by them. If you don’t want to be bound by them, you should not access the Site. By using the Site in any capacity, you agree that you have read and understood these Terms.
                    </p>
                    <p>Please read these Terms carefully to ensure that you understand each provision. This agreement contains a mandatory individual arbitration and class action/jury trial waiver provision that requires the use of arbitration on an individual basis to resolve disputes, rather than jury trials or class actions.</p>
                    <p>You must be able to form a legally binding contract online either as an individual or on behalf of a legal entity. You represent that, if you are agreeing to these Terms on behalf of a legal entity, you have the legal authority to bind the company or other legal entity to these Terms and you are at least 18 years old or the age of majority where you reside, whichever is older, can form a legally binding contract online, and have the full, right, power and authority to enter into and to comply with the obligations under these Terms.</p>
                    <p>You are advised to check these Terms periodically to familiarize yourself with any changes to the Terms. Reddocoin in its sole discretion, reserves the right to make changes to our terms of services. Changes are binding on users of the Site and will take effect immediately upon posting. As a user, you agree to be bound by any changes, variations, or modifications to our terms of service and your continued use of the Site shall constitute acceptance of any such changes, variations, or modifications.</p>
                    <p class="font-size-16px">Reddocoin will indicate on the Site of the changes to these Terms. You accept by doing so, we provide you with sufficient notice of such change.</p>

                    <p>Our <b>Privacy Policy</b> and <b>Cookie Policy</b> also apply to your use of the Site.</p>
                </section>
                <section class="text-white footer-section" style="margin-top: 50px !important;">
                    <h3>2. Access to the Site</h3>
                    <p>Access to the Site is provided “as is” and “as available” basis only. We do not guarantee that the Site, or any content on it, will always be available or uninterrupted. From time to time, access may be interrupted, suspended or restricted, including because of a fault, error or unforeseen circumstances or because we are carrying out planned maintenance.</p>
                    <p>We reserve the right to limit the availability of the site to any person, geographic area or jurisdiction we so desire and/or to terminate your access to and use of the site, at any time and in our sole discretion.</p>
                    <p>We may suspend or disable your access to the Site if we consider it reasonable to do so, e.g. you breach these Terms.</p>
                    <p>We may remove or amend the content of the Site at any time. However, some of the content may be out of date at any given time and we are under no obligation to update it. We do not guarantee that the Site, or any content on it, will be free from errors or omissions.</p>
                    <p>We will not be liable to you for any loss or damage you may suffer as a result of the Site being unavailable at any time for any reason.</p>
                    <p>You will comply with all applicable domestic and international laws, statutes, ordinances and regulations applicable to your use of the site.</p>
                    <p>As a condition to accessing or using the Site, you:</p>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-md-12 col-sm-11">
                            <div class="mt-3">
                                <ol type="I" class="ol-list">
                                    <li>will only use the Services and the Site for lawful purposes and in accordance with these Terms;</li>
                                    <li>will ensure that all information that you provide on the Site is current, complete, and accurate;</li>
                                    <li>
                                        will maintain the security and confidentiality of access to your cryptocurrency wallet address; and
                                        <br />
                                        As a condition to accessing or using the Site or the Services, you will not:
                                    </li>
                                </ol>
                                <ol type="I" class="ol-list">
                                    <li>
                                        Violate any Applicable Law, including, without limitation, any relevant and applicable anti-money laundering and anti-terrorist financing laws and any relevant and applicable privacy and data collection laws, in each case as may be amended.
                                    </li>
                                    <li>
                                        use the Site for any purpose that is unlawful;
                                    </li>
                                    <li>
                                        Export or transfer, directly or indirectly, any Reddocoin technology in violation of applicable export laws or regulations;
                                    </li>
                                    <li>
                                        Infringe on or misappropriate any contract, intellectual property or other third-party right, or commit a tort while using the Site;
                                    </li>
                                    <li>
                                        Misrepresent the truthfulness, sourcing or reliability of any content on the Site;
                                    </li>
                                    <li>
                                        Use the Site in any manner that could interfere with, disrupt, negatively affect, or inhibit other users from fully enjoying the Site or that could damage, disable, overburden, or impair the functioning of the Site or the Reddocoin Application in any manner;
                                    </li>
                                    <li>
                                        Attempt to circumvent any content filtering techniques or security measures that Reddocoin employs on the Site, or attempt to access any service or area of the Site that you are not authorized to access;
                                    </li>
                                    <li>
                                        Use any robot, spider, crawler, scraper, or other automated means or interface not provided by us, to access the Site to extract data;
                                    </li>
                                    <li>
                                        Introduce any malware, virus, Trojan horse, worm, logic bomb, drop-dead device, backdoor, shutdown mechanism or other harmful material into the Site;
                                    </li>
                                    <li>
                                        Post content or communications on the Site that are, in our sole discretion, libelous, defamatory, profane, obscene, pornographic, sexually explicit, indecent, lewd, vulgar, suggestive, harassing, hateful, threatening, offensive, discriminatory, bigoted, abusive, inflammatory, fraudulent, deceptive or otherwise objectionable;
                                    </li>
                                    <li>
                                        Post content on the Site containing unsolicited promotions, commercial messages or any chain messages or user content designed to deceive or trick the user of the Site; or
                                    </li>
                                    <li>
                                        Encourage or induce any third party to engage in any of the activities prohibited under these Terms.
                                        You acknowledge that the Site and your use of the Site contain certain risks, including without limitation the following risks:

                                    </li>
                                </ol>
                                <ol type="I" class="ol-list">
                                    <li>
                                        That any Smart Contracts you interact with are entirely your own responsibility and liability, and that Reddocoin is not party to the Smart Contracts;
                                    </li>
                                    <li>
                                        At any time, your access to your cryptocurrency may be suspended or terminated or there may be a delay in your access or use of your cryptocurrency which may result in the cryptocurrency diminishing in value or you being unable to complete a Smart Contract;
                                    </li>
                                    <li>
                                        And site and/or application may be suspended or terminated for any or no reason, which may limit your access to your cryptocurrency.
                                        Accordingly, you expressly agree that:

                                    </li>
                                </ol>
                                <ol type="1" class="ol-list">
                                    <li>
                                        You assume all risk in connection with your access and use of the Site, the Application and the Smart Contracts;
                                    </li>
                                    <li>
                                        That you expressly waive and release Reddocoin from any and all liability, claims, causes of action, or damages arising from or in any way related to your use of the Site, the Application or the Smart Contracts.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">3. Third-Party Links</h3>
                    <p>
                        The Site may contain hyperlinks or references to third party websites <b>(“Third-Party Services”)</b>. Any such hyperlinks or references are provided for your information and convenience only. We have no control over third party websites and accept no legal responsibility for any content, material or information contained in them. The display of any hyperlink and reference to any third-party website does not mean that we endorse that third party's website, products or services. Your use of a third-party site may be governed by the terms and conditions of that third-party site.

                    </p>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">4. Privacy Policy and Cookie Policy</h3>
                    <p>
                        Certain areas of our website may record and collect information about you. You can find more information about how we will you process your personal information in our <b>Privacy Policy</b>.
                        When you use the Site, we may collect information about your computer and your interaction with the Site. See our <b>Cookie Policy</b> for more information.


                    </p>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">5. Intellectual Property Rights</h3>
                    <p>
                        We are the owner of all intellectual property rights in the Site and the material published on them. These works are protected by copyright laws and all such rights are reserved.
                    </p>
                    <p>www.reddocoin.com is the uniform resource locator (‘URL’) of Reddocoin. You will not make use of this URL (or any other URL owned by us) on another website or digital platform without our prior written consent.</p>
                    <p>You agree not to monitor, use or copy our web pages without our prior consent. Any unauthorized use or reproduction may be prosecuted.</p>
                    <p>You will retain ownership of all copyright in data you upload or submit to the Site. You grant us a worldwide, royalty-free, irrevocable license to use, copy, distribute or publish and send this data in any manner.</p>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">6. Disclaimers</h3>
                    <p>
                        We do not guarantee that the Site will be secure or free from bugs or viruses.
                    </p>
                    <p>You are responsible for configuring your information technology, computer programs and platform in order to access the Site. You should use your own virus protection software.</p>
                    <p>We cannot promise that the use of the Site, or any content taken from the Site, will not infringe the rights of any third party.</p>
                    <p>The content and materials available on the Site are for informational purposes only and is not intended to address your particular requirements. In particular, the content and materials available on the Site does not constitute any form of advice or recommendation by us, should not be regarded as an offer, solicitation, invitation or recommendation to buy or sell investments, securities or any other financial services and is not intended to be relied upon by you in making any specific investment or other decisions. We recommend that you seek independent advice from financial advisory before making any such decision.</p>
                    <p>Nothing included in the site constitutes an offer or solicitation to sell, or distribution of, investments and related services to anyone in any jurisdiction.</p>
                    <p>From time to time, reference may be made to data we have gathered. These references may be selective or, may be partial. As markets change continuously, previously published information and data may not be current and should not be relied upon.</p>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">7. General</h3>
                    <p>
                        We may perform any of our obligations, and exercise any of the rights granted to us under these Terms, through a third-party. We may assign any or all our rights and obligations under these Terms to any third-party.
                    </p>
                    <p>If any clause or part of any clause of these Terms is found to be void, unenforceable or invalid, then it will be severed from these Terms, leaving the remainder in full force and effect, provided that the severance has not altered the basic nature of these Terms.</p>
                    <p>No single or partial exercise, or failure or delay in exercising any right, power or remedy by us shall constitute a waiver by us of, or impair or preclude any further exercise of, that or any right, power or remedy arising under these terms and conditions or otherwise.</p>
                    <p>If any of the provisions in these Terms are found to be illegal, invalid or unenforceable by any court of competent jurisdiction, the remainder shall continue in full force and effect.</p>
                    <p>All disclaimers, indemnities and exclusions in these Terms shall survive termination of the Terms and shall continue to apply during any suspension or any period during which the Site is not available for you to use for any reason whatsoever.</p>
                    <p>These Terms and the documents referred to in them set out the entire agreement between you and us with respect to your use of the site, Reddocoin and the services provided via the site and supersede any and all prior or contemporaneous representations, communications or agreements (written or oral) made between you or us.</p>
                    <p>This Agreement and our relationship with you (including any dispute, controversy or claim arising out of or in connection with this Agreement (including the existence or formation of this Agreement)) are governed by the laws of BVI.</p>
                </section>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Contacting Us</h3>
                    <p class="pb-5">If you have any questions about these Terms please e-mail <b>info@reddocoin.com</b></p>
                    <br />
                    <br />
                </section>
            </div>
        </div>
    </MudContainer>
</div>