@page "/PrivacyPolicy"

<div class="FooterBotomPages">
    <MudContainer>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="text-white" style="margin-top: 60px;">Privacy Policy</h2>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Introduction</h3>
                    <p>
                        Reddocoin and its affiliates (hereinafter, <b>“Reddocoin”, "the Company", "we", "us"</b> or <b>"our"</b>) are committed to protecting and respecting your privacy. In addition, we recognize that persons who use Reddocoin value their privacy. This Privacy Policy together with our Terms of Service governs our collection, processing and use of your Personal Information. Please review this Privacy Statement carefully. By using our Services you consent to the use and sharing of your personal information as described in this Privacy Statement. If you do not agree with these practices, please do not use the Services, or otherwise provide us with your personal information.
                    </p>
                </section>
                <section class="text-white footer-section" style="margin-top: 50px !important;">
                    <h3>Collection of Information</h3>
                    <p>
                        When you use our Services we may collect or receive information about you.
                    </p>
                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Personal Information</h3>
                    <p><b>"Personal Information"</b> is information which identifies you personally or by which your identity can reasonably be ascertained. This may include but is not limited to:</p>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-md-12 col-sm-11">
                            <div class="mt-3">
                                <ol type="1" class="ol-list">
                                    <li>
                                        Full legal name, address for service, e-mail address, phone number, date of birth, photographic identification, government issued identification and other contact details.
                                    </li>
                                    <li>
                                        Reddocoin requires the highest level of browser permissions that could potentially lead to procurement of more Personal Information than enclosed in the definition of Personal Information.
                                    </li>
                                    <li>World Wide Web related information, including but not limited to IP Addresses, operating system and browser type may be received by Reddocoin as a result of your interactions with Reddocoin.</li>
                                    <li>Reddocoin uses Google Analytics for purposes of monitoring web traffic. Any identifying information collected via Google Analytics is controlled by Google.</li>
                                    <li>Ethereum blockchain and other public blockchains provide transparency into transactions and Reddocoin is not responsible for preventing or managing information broadcasted on a blockchain.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Purpose of Personal Information collection</h3>
                    <p>Personal Information is collected in order to:</p>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-md-12 col-sm-11">
                            <div class="mt-3">
                                <ol type="1" class="ol-list">
                                    <li>
                                        Provide our services efficiently and effectively;
                                    </li>
                                    <li>
                                        Develop, enhance, market and deliver products and services to you;
                                    </li>
                                    <li>Understand your needs and your eligibility for products and services;</li>
                                    <li>Provide information to you about developments and new products, including changes and enhancements to the Site;</li>
                                    <li>Process billing and collection of any fees;</li>
                                    <li>Conduct surveys and get feedback from you;</li>
                                    <li>Establish and maintain a responsible commercial relationship with you;</li>
                                    <li>Provide you with news and other matters of general interest to you as Reddocoin customer;</li>
                                    <li>Meet Reddocoin’s legal and regulatory requirements (e.g, information required to verify your identity).</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Data security</h3>
                    <p>
                        We use appropriate technical and organizational security measures to protect your stored personal data against manipulation, partial or complete loss, and unauthorized access by third parties. Our security measures are continuously being improved in line with technical developments.
                    </p>
                    <p>Please note that any data transmission on the Internet (e.g. communication by e- mail) is generally not secure and we accept no liability for data transmitted to us via the Internet. Unfortunately, absolute protection is not technically possible.</p>
                    <p>This information does not apply to the websites of third parties and the corresponding links given on our websites. The Foundation assumes no responsibility and liability for these.</p>
                </section>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Changes</h3>
                    <p>
                        Our policies, content, information, promotions, disclosures, disclaimers and features may be revised, modified, updated, and/or supplemented at any time and without prior notice at the sole and absolute discretion of the Company. If we change this Privacy Policy, we will take steps to notify all Users by a notice on our website and will post the amended Privacy Policy on the website.
                    </p>
                </section>
                <section class="text-white footer-section mb-3">
                    <h3 class="mt-5 mb-3">Questions</h3>
                    <p>
                        If you have any questions about this cookie policy, please contact us by email at <b>info@reddocoin.com</b>
                    </p>
                    <br />
                    <br />
                </section>
            </div>
        </div>
    </MudContainer>
</div>