@page "/team"

@*<CommonHeroBanner BannerText=" Team" ForToken="false" />*@


<div class="Team">
    <MudContainer Style="padding: 0 !important">
        <div class="team-members team-members-1">
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/1.png" />
                    <div class="desc">
                        <p class="name m-0 text-uppercase">Rodrigo</p>
                        <p class="designation m-0">Pinkinsidee</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/2.png" />
                    <div class="desc">
                        <p class="name m-0">Otavio</p>
                        <p class="designation m-0">OtavioSnuts</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/3.png" />
                    <div class="desc">
                        <p class="name m-0">Luiz Feres</p>
                        <p class="designation m-0">Acepheres</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/4.png" />
                    <div class="desc">
                        <p class="name m-0">RONALDO</p>
                        <p class="designation m-0">Creative_eye</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/5.png" />
                    <div class="desc">
                        <p class="name m-0">CHRISTIAN</p>
                        <p class="designation m-0">Insideeride</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="team-members team-members-2">
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/6.png" />
                    <div class="desc">
                        <p class="name m-0">Rodrigo</p>
                        <p class="designation m-0">Pinkinsidee</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/7.png" />
                    <div class="desc">
                        <p class="name m-0">Otavio</p>
                        <p class="designation m-0">OtavioSnuts</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/8.png" />
                    <div class="desc">
                        <p class="name m-0">Luiz Feres</p>
                        <p class="designation m-0">Acepheres</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/9.png" />
                    <div class="desc">
                        <p class="name m-0">RONALDO</p>
                        <p class="designation m-0">Creative_eye</p>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member-image">
                    <img src="Images/Team/10.png" />
                    <div class="desc">
                        <p class="name m-0">CHRISTIAN</p>
                        <p class="designation m-0">Insideeride</p>
                    </div>
                </div>
            </div>
        </div>
    </MudContainer>
</div>