@page "/token"

<CommonHeroBanner BannerText=" Token" ForToken="false" JustReddo="true" />

<div class="Ecosystem">
    <MudContainer Class="ReddoToken">
        <div class="row">
            <div class="col-md-12">
                <MudGrid Class="reddocoin-token">
                    <MudItem xs="12" Class="reddocoin-token-heading">
                        <MudPaper Class="shadow-none bg-transparent">
                            <p class="text-white">
                                <span>Contract</span> Address
                            </p>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </div>
            <div class="col-md-12">
                <div class="d-flex flex-column align-items-center addres-box">
                    <div class="address">
                        <img src="/Images/Token/address.png" />
                        <p>0xaec87b06c73128278b65790cbe414f4704fa9738</p>
                        <img src="/Images/Token/copy.png" class="copy-png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-12">
                <p class="text-white bep">
                    Reddocoin is BEP-20 utility token and created to be an integral facilitator of transactions within the
                    <br />
                    Reddocoin business ecosystem. Unlike many tokens that are only primarily used by customers, Reddocoin<br /> presents use cases for both customers and businesses alike.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row text-center align-items-center token-desc">
            <div class="col-md-2 col-sm-2">
                <h5>Reddo</h5>
                <p>Token Symbol</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <h5>350M</h5>
                <p>Token Supply</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <h5>18</h5>
                <p>Decimals</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <h5>Binance Smart Chain</h5>
                <p>Network </p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <h5>Trust Wallet, Metamask</h5>
                <p>Wallets</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <h5>Utility Token</h5>
                <p>Token type</p>
            </div>
        </div>
    </MudContainer>
</div>