@page "/wheretobuy"

<CommonHeroBanner BannerText="Top exchanges that support " ForToken="true" JustReddo="false" />

<div class="TokenList">
    <MudContainer>
        <div class="row">
            <div class="col-md-12 ">
                <table class="token-list-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pair</th>
                        <th>Added</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="chips">
                                    <a class="text-decoration-none" href="https://pancakeswap.finance/swap/0xaec87b06c73128278b65790cbe414f4704fa9738">
                                        <img src="Images/Token/row-img-1.png" /> <span class="text-white pl-2">Pancakeswap v2</span>
                                    </a>
                                    
                                </div>
                            </td>
                            <td>
                                <p class="m-0 text-uppercase">BNB, BUSD</p>
                            </td>
                            <td>
                                <p class="m-0 text-uppercase">10-11-2021</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="chips">
                                    <a class="text-decoration-none" href="https://coinsbit.io/trade/Reddo_USDT">
                                        <img src="Images/Token/row-img-2.png" /> <span class="text-white pl-2">Coinsbit</span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <p class="m-0 text-uppercase">BTC, ETH, USDT</p>
                            </td>
                            <td>
                                <p class="m-0 text-uppercase">10-11-2021</p>
                            </td>
                        </tr>
                        @*<tr>
            <td>
                <div class="chips">
                    <img src="Images/Token/row-img-3.png" />
                    <p>Azbit</p>
                </div>
            </td>
            <td>
                <p class="m-0 text-uppercase">ETH</p>
            </td>
            <td>
                <p class="m-0 text-uppercase">12-11-2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="chips">
                    <img src="Images/Token/row-img-4.png" />
                    <p>LBank</p>
                </div>
            </td>
            <td>
                <p class="m-0 text-uppercase">USDT</p>
            </td>
            <td>
                <p class="m-0 text-uppercase">15-11-2021</p>
            </td>
        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </MudContainer>
</div>