<div class="footertopmargin">
    <!--Footer-->
    <footer id="footer" class="container-fluid fixed-bottom">
        <div class="container p-0">
            <div class="row py-0">
                <div class="col-md-6 text-left">
                    <i class="fas fa-user color-mygreen pr-2"></i> All Users
                    <i class="fas fa-hospital-alt color-mygreen pl-4 pr-2"></i>The Wirral Teaching Hospital
                </div>
                <div class="col-md-6 text-lg-right">
                    <a href="auditactivity.html"><i class="fas fa-user color-mygreen pl-4 pr-2"></i>Activity Log</a>
                    <a href="login.html"><i class="fas fa-sign-out-alt color-mygreen pl-4 pr-2"></i>Logout</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>