<!-- Top bar Start -->
<div class="container bg-myblue my-4 rounded">
    <div class="row px-2 py-3">
        <div class="col-sm-12 text-center">
            <a asp-controller="Auth" asp-action="Login"><img src="../images/logowt.png" alt="logo"></a>
        </div>
    </div>
</div>
<!-- Top bar end -->