
<MudContainer Class="AdvantagesTop">
    <div class="Logos">
        <div class="">
            <a href="https://bscscan.com/token/0xaec87b06c73128278b65790cbe414f4704fa9738">
                <img src="Images/Advantages/image 1.png" />
            </a>
        </div>
        <div class="">
            <a href="https://reddocoin.medium.com/">
                <img src="Images/Advantages/image 2.png" />
            </a>
        </div>
        <div class="">
            <a href="https://github.com/TechRate/Smart-Contract-Audits/blob/main/September/Reddocoin.pdf">
                <img src="Images/Advantages/image 3.png" />
            </a>
        </div>
        <div class=""><img src="Images/Advantages/image 4.png" /></div>
        <div class=""><img src="Images/Advantages/image 5.png" /></div>
        <div class="">
            <a href="https://www.crunchbase.com/organization/reddocoin"><img src="Images/Advantages/crunchbase.png" /></a>
        </div>
    </div>
</MudContainer>