<MudContainer Class="AdvantagesSection">
    <MudGrid Class="reddocoin-advantages">
        <MudItem xs="12" Class="reddocoin-advantages-heading">
            <MudPaper Class="shadow-none bg-transparent">
                <p class="text-white">
                    <span>Reddocoin</span> Advantages
                </p>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <div class="row justify-content-around sections"  style="margin-top: 60px;">
        <div class="section a col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/use-cases.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">Use cases</p>
                <p class="p-bottom text-white m-0">Buy and sell, staking, bonuses</p>
            </div>
        </div>
        <div class="section b col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/globality.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">Globality</p>
                <p class="p-bottom text-white m-0">Borderless Shopping, Money Transfer</p>
            </div>
        </div>
        <div class="section c col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/high-performance.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">High Performance</p>
                <p class="p-bottom text-white m-0">high-speed transaction with 3-5 Second <br /> block time</p>
            </div>
        </div>
    </div>


    <div class="row justify-content-around sections cus-xs" style="margin-top: 60px; padding-bottom: 120px">
        <div class="section d col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/low-trandparent-cost.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">Low transaction cost</p>
                <p class="p-bottom text-white m-0">BSC network fee is appx 
                    <span class="per-trans">$0.11 per <br /> transaction</span> 
                    , and 100% compatible</p>
            </div>
        </div>
        <div class="section b col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/easy-to-exchange.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">Easy to exchange</p>
                <p class="p-bottom text-white m-0">Top demanded pairs: BTC, ETH, USDT, BNB,<br /> BUSD</p>
            </div>
        </div>
        <div class="section c col-md-3 d-flex justify-content-center flex-column align-items-center">
            <div class="">
                <img src="Images/Advantages/monitoring.png" />
            </div>
            <div class="desc">
                <p class="text-uppercase p-top text-white text-center m-0">24/7/365 Monitoring</p>
                <p class="p-bottom text-white m-0">Security and Technical experts <br /> are monitoring the system 24/7/365</p>
            </div>
        </div>
    </div>
</MudContainer>