

<div class="Chart">
    <div class="coin kucoin">
        <div class="coin-top">
            <img src="Images/Chart/kucoin.png" />
            <div class="dollar-state">
                <p class="dollar m-0 p-0">$22.89</p>
                <p class="state m-0 p-0">-3.8% <img src="Images/Chart/polygon-danger.png" /></p>
            </div>
        </div>
        <p class="down m-0 p-0">
            Best price for <span class="coin-name">Kucoin</span> at
        </p>
    </div>

    <div class="coin coinbase">
        <div class="coin-top">
            <img src="Images/Chart/coinbase.png" />
            <div class="dollar-state">
                <p class="dollar m-0 p-0">$16.06</p>
                <p class="state m-0 p-0">-7.2% <img src="Images/Chart/polygon-success.png" /></p>
            </div>
        </div>
        <p class="down m-0 p-0">
            Best price for <span class="coin-name"> Coinbase</span> at
        </p>
    </div>

    <div class="coin binance">
        <div class="coin-top">
            <img src="Images/Chart/binance.png" />
            <div class="dollar-state">
                <p class="dollar m-0 p-0">$18.32</p>
                <p class="state m-0 p-0">-3.8% <img src="Images/Chart/polygon-danger.png" /></p>
            </div>
        </div>
        <p class="down m-0 p-0">
            Best price for <span class="coin-name">Binance</span> at
        </p>
    </div>

    <div class="chart-buttons">
        <button class="buy text-white text-center">BUY</button>
        <button class="sell text-white text-center">SELL</button>
    </div>

    <div>
        <MudChart ChartType="ChartType.Line" ChartSeries="@ChartSeries" 
                  @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
    </div>
</div>


@code {
    private int Index = -1;
    private decimal[] Data { get; set; }

    [CascadingParameter]
    public List<ChartSeries> ChartSeries { get; set; }

    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };

}