<MudContainer>
    <div class="row EasyStepsDesc">
        <div class="col-md-6 title">
            <p class="about-us"><span>About</span> Us</p>
            <p class="content">
                <span class="content1">
                    Reddocoin is the easiest, fastest and securest way to use pure-digital payments only.
                </span>
                <br/>
                <br/>
                <span class="content2">Reddo token holder will be able to experience :</span>
            </p>
        </div>
        <div class="col-md-6 ">
            <div class="EasyStepsIconFocus">
                <img src="./images/icon-focus1.png"/>
            </div>
        </div>
    </div>
</MudContainer>
