<MudContainer Class="" Style="Width: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="EasyStepsEcoSystem">
                <img src="./images/ecosystem-with-text.png"/>
            </div>
        </div>
    </div>
</MudContainer>