<div class="row HeroBannerTop">
    <div class="col-md-6 text">
        <p class="heading">
            Your gateway to
            <br />
            <span class="reddocoin">Reddocoin Business<br /> Ecosystem</span>
        </p>
        <p class="summery m-0">
            No borders, no complicated payments, no middlemen, but better communication and trust.
        </p>
        @*<div class="row justify-content-start buttons">
            <div class="col-md-4"><button class="active">buy now</button></div>
            <div class="col-md-4"><button>swap</button></div>
        </div>*@
        <div class="buttons">
            <a class="active" href="https://www.dextools.io/app/bsc/pair-explorer/0x07ddae60a99421eb948ae5f299117f8f8fe86a66">buy now</a>
            <a href="https://pancakeswap.finance/swap/0xaec87b06c73128278b65790cbe414f4704fa9738">swap</a>
        </div>
    </div>
    <div class="col-md-6">
        <Chart />
    </div>
</div>