@model string

@{
    ViewData["Title"] = "Forgot Password";
}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mt-5">
            <h4 class="card-header">Forgot Password</h4>
            <div class="card-body">
                <p class="">Enter your email address and we'll send you a link to reset your password</p>
                <form enctype="multipart/form-data"
                      asp-controller="Auth"
                      asp-action="ForgotPassword"
                      method="post">
                    <!--=================RESPONSE MANAGEMENT==================-->
                    @if (ViewBag.AuthResponseDto != null)
                    {
                        if (ViewBag.AuthResponseDto.ResponseType == ResponseType.Failed)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.AuthResponseDto.Message
                            </div>
                        }

                        if (ViewBag.AuthResponseDto.ResponseType == ResponseType.SendingEmail)
                        {
                            <div class="alert alert-success" role="alert">
                                @Html.Raw(ViewBag.AuthResponseDto.Message)
                            </div>
                        }
                    }
                    <!--=================RESPONSE MANAGEMENT END==================-->

                    <div class="mb-3">
                        <label for="pEmail" class="form-label">Email address</label>
                        <input name="pEmail" class="form-control" placeholder="Email address"/>
                        @*<span asp-validation-for="pEmail" class="text-danger"></span>*@
                    </div>

                    <div class="mb-3">
                        <input class="btn btn-sm btn-success"
                               type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>