@model UserForLoginDto
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mt-5">
            <h4 class="card-header">Log In</h4>
            <div class="card-body">
                <form enctype="multipart/form-data"
                      asp-controller="Auth"
                      asp-action="Login"
                      method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <!--=================RESPONSE MANAGEMENT==================-->
                    @if (ViewBag.AuthResponseDto != null)
                    {
                        if (ViewBag.AuthResponseDto.Message!=null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.AuthResponseDto.Message
                            </div>
                        }
                    }
                    <!--=================RESPONSE MANAGEMENT END==================-->

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" placeholder="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-sm btn-success"
                               type="submit" value="Submit" />
                        <a asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>