<!-- info bar start -->
<div class="container p-2 border-bottom">

    <div class="row">
        <div class="col-lg-6 pb-sm-1 pb-md-0">
            <i class="fas fa-user color-mygreen pr-2"></i> Anna.Macormick@nhs.net
            <i class="fas fa-hospital-alt color-myblue pl-4 pr-2"></i> The Wirral Teaching Hospital
        </div>
        <div class="col-lg-6 pb-sm-2 pb-md-0 text-lg-right">
            <a asp-controller="Report" asp-action="Report"><i class="fas fa-paperclip color-mygreen pr-2"></i>Reports</a>
            <a asp-controller="RtdAdmin" asp-action="Activity"><i class="fas fa-user color-mygreen pl-4 pr-2"></i>Activity Log</a>
            <a asp-action="#"><i class="fas fa-sign-out-alt color-myred pl-4 pr-2"></i>Logout</a>
        </div>
    </div>

</div>
<!--  info bar end -->