
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("~/Views/RtdAdmin/_topbar.cshtml", true)
@Html.Partial("~/Views/RtdAdmin/_infobar.cshtml")

<!-- Start of current interviews grid -->
<section class="container p-2 mt-4">

    <div class="float-left">
        <h4 class="color-mygreendark mb-0">Interviews</h4>
    </div>

    <!-- Search form -->
    <div class="w-50 mb-2 input-group float-right">
        <input type="text" class="form-control formstextstyle" name="searchemployee" data-toggle="tooltip"
               data-placement="top" title="Search Employees by any part of their name" id="searchname"
               placeholder="Search Employees">

        <div class="input-group-append">
            <a href="#" class="input-group-text px-2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-light table-striped table-hover table-bordered small">
            <thead>
                <tr class="text-white bg-dark">
                    <th>Date</th>
                    <th>Employee Name</th>
                    <th>Job title</th>
                    <th>Absence Start</th>
                    <th>Absence End</th>
                    <th>Return to Work</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>12/05/2021</td>
                    <td class="font-weight-bolder">Janet Marston</td>
                    <td>Domestics Supervisor</td>
                    <td>06/07/2021</td>
                    <td>20/07/2021</td>
                    <td>22/07/2021</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="section1.html"><i class="fas fa-info-circle text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>05/07/2021</td>
                    <td class="font-weight-bolder">Maranda Philips-Johnson</td>
                    <td>Domestics Team Leader</td>
                    <td>20/06/2021</td>
                    <td>28/06/2021</td>
                    <td>30/06/2021</td>
                    <td class="text-center"><i class="fas fa-spinner fa-lg text-warning"></i></td>
                    <td class="text-center">
                        <a  asp-action="SaveAbsenceDetail" 
                           asp-controller="RtdAdmin"
                           asp-route-pInterviewId="3"><i class="fas fa-info-circle text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>03/07/2021</td>
                    <td class="font-weight-bolder">James Smith</td>
                    <td>Domestics Team</td>
                    <td>19/06/2021</td>
                    <td>28/06/2021</td>
                    <td>29/06/2021</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="section1.html"><i class="fas fa-info-circle text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>02/07/2021</td>
                    <td class="font-weight-bolder">Gloria Madison</td>
                    <td>Domestics Supervisor</td>
                    <td>01/06/2021</td>
                    <td>20/06/2021</td>
                    <td>22/07/2021</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="section1.html"><i class="fas fa-info-circle text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>30/06/2021</td>
                    <td class="font-weight-bolder">Sarah Anderson</td>
                    <td>Reception Team Lead</td>
                    <td>05/05/2021</td>
                    <td>23/05/2021</td>
                    <td>27/05/2021</td>
                    <td class="text-center"><i class="fas fa-spinner fa-lg text-warning"></i></td>
                    <td class="text-center">
                        <a href="section1.html"><i class="fas fa-info-circle text-info"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav>
        <ul class="pagination small justify-content-center">
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>&laquo;</span></a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link px-3 py-2"><span>2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>3</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>4</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>&raquo;</span></a>
            </li>
        </ul>
    </nav>
    <!-- End of pagination -->

