
@{
    ViewData["Title"] = "SaveForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_SectionNav.cshtml")
<!-- Start of Submit form -->
<section class="container rounded bg-forms p-2 mt-1 lm-user">
    <div class="projdetailsform rounded mx-auto">
        <h4 class="color-myblue py-0">
            Section 7: <i class="far fa-arrow-alt-circle-right pl-2 pr-2 color-mygreen"></i>
            Submit Form
        </h4>
        <hr>
        <form action="#">
            <h5 class="color-mygreen">Line Manager</h5>
            <input type="text" class="form-control formstextstyle" id="Ref" placeholder="Name of Manager">
            <div class="input-group pb-2">
                <input type="text" class="form-control formstextstyle docs-date" name="startdate" placeholder="Date"
                       autocomplete="off" data-toggle="tooltip" data-placement="top" title="Date of Completion">
                <div class="input-group-append">
                    <span class="input-group-text px-2">
                        <i class="fa fa-calendar"
                           aria-hidden="true">
                    </span></i>
                </div>
            </div>

            <h6>Manager - Please check box to accept this as your electronic signature</h6>
            <div class="d-flex flex-wrap pl-3">
                <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s1" name="s1">
                    <label class="custom-control-label mr-5" for="s1">Accept this is my signature</label>
                </div>
            </div>
            <hr>

            <h5 class="color-mygreen">Employee</h5>
            <input type="text" class="form-control formstextstyle" id="Ref" disabled placeholder="Employee Name">
            <div class="input-group pb-2">
                <input type="text" class="form-control formstextstyle docs-date" name="startdate" placeholder="Date"
                       autocomplete="off" data-toggle="tooltip" data-placement="top" title="Date of Completion">
                <div class="input-group-append">
                    <span class="input-group-text px-2">
                        <i class="fa fa-calendar"
                           aria-hidden="true">
                    </span></i>
                </div>
            </div>

            <h6>Employee - Please check box to accept this as your electronic signature</h6>
            <div class="d-flex flex-wrap pl-3">
                <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s2" name="s2">
                    <label class="custom-control-label mr-5" for="s2">Accept this is my signature</label>
                </div>
            </div>

            <div class="text-right mt-3">
                <button class="btn btn-danger" type="button">Save and Submit</button>
            </div>
        </form>
    </div>

</section>
<!-- End submit details -->
