
@{
    ViewData["Title"] = "SaveProcedureDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_SectionNav.cshtml")
<!-- Start of procedure details form -->
<section class="container rounded bg-forms p-2 mt-1 bt-user">
    <div class="projdetailsform rounded mx-auto">
        <h4 class="color-myblue py-0">
            Section 3: <i class="far fa-arrow-alt-circle-right pl-2 pr-2 color-mygreen"></i>
            Procedure
        </h4>
        <hr>
        <form action="#">
            <div class="">
                <h5 class="color-mygreen">Calculating Triggers</h5>
                <h6>Do they have an active attendance warning on file</h6>
            </div>

            <div class="custom-control custom-radio custom-control-inline formstextstyle ml-3">
                <input type="radio" class="custom-control-input" id="yes" name="rb2" value="2">
                <label class="custom-control-label" for="yes">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline formstextstyle">
                <input type="radio" class="custom-control-input" id="no" name="rb2" value="2">
                <label class="custom-control-label" for="no">No</label>
            </div>

            <div class="">
                <h6>If Yes, please specify stage</h6>
            </div>

            <div class="d-flex flex-wrap">
                <div class="custom-control custom-radio custom-control-inline formstextstyle ml-3 ">
                    <input type="radio" class="custom-control-input" id="1" name="rb2" value="1">
                    <label class="custom-control-label mr-5" for="1">Stage 1</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline formstextstyle ">
                    <input type="radio" class="custom-control-input" id="2" name="rb2" value="2">
                    <label class="custom-control-label mr-5" for="2">Stage 2</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline formstextstyle ">
                    <input type="radio" class="custom-control-input" id="3" name="rb2" value="3">
                    <label class="custom-control-label mr-5" for="3">Stage 3</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline formstextstyle">
                    <input type="radio" class="custom-control-input" id="4" name="rb2" value="4">
                    <label class="custom-control-label" for="4">Stage 4</label>
                </div>
            </div>

            <hr>
            <div class="">
                <h5 class="color-mygreen">Procedure Compliance</h5>
                <!-- <h6>If Yes, please specify stage</h6>
                </div>
                <div class="d-flex flex-wrap pl-4">
                  <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s5" name="s5">
                    <label class="custom-control-label mr-5" for="s5">Stage 1</label>
                  </div>

                  <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s6" name="s6">
                    <label class="custom-control-label mr-5" for="s6">Stage 2</label>
                  </div>

                  <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s7" name="s7">
                    <label class="custom-control-label mr-5" for="s7">Stage 3</label>
                  </div>

                  <div class="custom-control-inline custom-checkbox formstextstyle">
                    <input type="checkbox" class="custom-control-input" id="s8" name="s8">
                    <label class="custom-control-label mr-5" for="s8">Sateg 4</label>
                  </div>
                </div> -->

                <h6>During this period of absence did the employee comply with the below points?</h6>
                <div class="d-flex flex-wrap pl-4">
                    <div class="custom-control-inline custom-checkbox formstextstyle">
                        <input type="checkbox" class="custom-control-input" id="s9" name="s9">
                        <label class="custom-control-label mr-5" for="s9">Follow reporting procedure</label>
                    </div>

                    <div class="custom-control-inline custom-checkbox formstextstyle">
                        <input type="checkbox" class="custom-control-input" id="s10" name="s10">
                        <label class="custom-control-label mr-5" for="s10">Supply timely certification</label>
                    </div>

                    <div class="custom-control-inline custom-checkbox formstextstyle">
                        <input type="checkbox" class="custom-control-input" id="s11" name="s11">
                        <label class="custom-control-label mr-5" for="s11">Maintain in regular contact</label>
                    </div>

                    <div class="custom-control-inline custom-checkbox formstextstyle">
                        <input type="checkbox" class="custom-control-input" id="s12" name="s12">
                        <label class="custom-control-label mr-5" for="s12">Seek support from OH / EAP</label>
                    </div>
                </div>

                <textarea class="form-control formstextstyle" rows="4" id="description"
                          placeholder="Additional information"></textarea>

                <div class="text-right mt-3">
                    <button class="btn btn-success" type="button">Save / Update</button>
                </div>
            </div>
        </form>
    </div>

</section>
<!-- End procedure details -->
