
@{
    ViewData["Title"] = "SavePersonalDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_SectionNav.cshtml")
<!-- Start of project detials form -->
<section class="container rounded bg-forms p-2 mt-1 bt-user">
    <div class="projdetailsform rounded mx-auto">
        <h4 class="color-myblue py-0">
            Section 2: <i class="far fa-arrow-alt-circle-right pl-2 pr-2 color-mygreen"></i>
            Personal Details
        </h4>
        <hr>
        <form action="#">
            <input type="text" class="form-control formstextstyle" id="Ref" placeholder="House and Street">
            <input type="text" class="form-control formstextstyle" id="job" placeholder="Area">
            <input type="text" class="form-control formstextstyle" id="conhours" placeholder="Town">
            <input type="text" class="form-control formstextstyle" id="conhours" placeholder="City">
            <input type="text" class="form-control formstextstyle" id="conhours" placeholder="Postcode">
            <hr>
            <input type="text" class="form-control formstextstyle" id="conhours" placeholder="Mobile Number">
            <input type="text" class="form-control formstextstyle" id="conhours" placeholder="Landline number">
            <div class="text-right mt-3">
                <button class="btn btn-success" type="button">Save / Update</button>
            </div>

        </form>
    </div>

</section>
<!-- End project details -->

<div class="footertopmargin">
    <!--Footer-->
    <footer id="footer" class="container-fluid fixed-bottom">
        <div class="container">
            <!-- <div class="pl-4 float-left d-inline">
              <a href="contatactus.html" class=""><i class="fas fa-comments pr-2"></i></i>Adminsitrator</a>
            </div> -->
            <div class="float-left d-inline">
                <a href="terms.html" class=""><i class="fas fa-paste pr-2"></i></i>Terms of use</a>
            </div>
            <div class="float-right">Return To Work Portal - Ambisoft Copyright &copy; 2021</div>
        </div>
    </footer>
    <!-- End Footer -->
</div>


