@model Interview

@{
    ViewData["Title"] = "SaveAbsenceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/RtdAdmin/_SectionNav.cshtml")
<!-- Start of Absence details form -->
<section class="container rounded bg-forms p-2 mt-1 bt-user">
    <div class="projdetailsform rounded mx-auto">
        <h4 class="color-myblue py-0">
            Section 1: <i class="far fa-arrow-alt-circle-right pl-2 pr-2 color-mygreen"></i>
            Absence Details
        </h4>
        <hr>
        <form enctype="multipart/form-data" 
              asp-controller="RtdAdmin" 
              asp-action="SaveAbsenceDetail"
              method="post">
            <input type="text" asp-for="InterviewId" />
            <input asp-for="S1EmpName" type="text" class="form-control formstextstyle" id="emp-name" placeholder="Employee Name ">
            <input asp-for="S1AssignNo" type="text" class="form-control formstextstyle" id="Ref" placeholder="Assignment Number">

            <select asp-for="S1WeekdayShift" class="form-control formstextstyle" id="Weekdays">
                <option value="#" selected disabled hidden>Select Job Title</option>
                <option value="1">Assistant Director of Facilities Support Services</option>
                <option value="2">Business / Admin Support Manager</option>
                <option value="3">Business Officer</option>
                <option value="4">Business Receptionist</option>
                <option value="5">Catering Assitant</option>
                <option value="6">Catering Supervisor</option>
                <option value="7">Chef</option>
                <option value="8">Domestic Assistant APH</option>
                <option value="9">Domestic Assistan CBH</option>
                <option value="10">Domestic Manager</option>
                <option value="11">Domestic Supervisor</option>
                <option value="12">Driver</option>
                <option value="13">Equipment Coordinator</option>
                <option value="14">Equipment Services Deputy Supervisor</option>
                <option value="15">Equipment Services Supervisor</option>
                <option value="16">Facilities Manager</option>
                <option value="17">Facilities Section Manager</option>
                <option value="18">General Catering Manager</option>
                <option value="19">Goods Distrution Centre Supervisor</option>
                <option value="20">Head of Catering</option>
                <option value="21">Head of Facilities</option>
                <option value="22">Laundry Assistant</option>
                <option value="23">Linen Team Leader</option>
                <option value="24">Portering / Transport Manager</option>
                <option value="25">Portering Assistant</option>
                <option value="26">Portering Shift Leader</option>
                <option value="27">Portering Team Manager</option>
                <option value="28">Section Catering Manager</option>
                <option value="29">Senior Administration Officer</option>
                <option value="30">Sewing Room Operative</option>
                <option value="31">Stores Supervisor</option>
                <option value="32">Telecommunications Manager</option>
                <option value="33">Telecommunications Supervisor</option>
                <option value="34">Telephonist/Receptionist</option>
                <option value="35">Transport Team Leader</option>
                <option value="36">Waste Porter</option>


            </select>
            <hr>
            <select asp-for="S1DeptId" class="form-control formstextstyle" id="Dept">
                <option value="#" selected disabled hidden>Select Department</option>
                <option value="1">Domestic APH</option>
                <option value="2">Porter APH</option>
                <option value="3">Linen APH</option>
                <option value="4">Stores APH</option>
                <option value="5">Waste APH</option>
                <option value="6">Domestic CGH</option>
                <option value="7">Porter CGH</option>
                <option value="8">Linen CGH</option>
                <option value="9">Stores CGH</option>
                <option value="10">Waste CGH</option>
                <option value="11">Transport CGH</option>
                <option value="12">CEL APH</option>
                <option value="13">Switchboard APH</option>
                <option value="14">Switchboard CGH</option>
                <option value="15">Catering APH</option>
                <option value="16">Catering CGH</option>
                <option value="17">Management APH</option>
                <option value="18">Mangement CGH</option>
            </select>
            <input asp-for="S1Conhourslt" type="text" class="form-control formstextstyle" id="conhours" placeholder="Contracted Hours">

            <hr>

            <!---Weekdays multiple-->
            <select asp-for="S1WeekdayShift" class="form-control formstextstyle" id="Weekdays">
                <option value="#" selected disabled hidden>Select Shift Mon - Fri</option>
                <option value="1">7.30am-10.30am</option>
                <option value="1">7.30am-11.30am</option>
                <option value="1">7.30am-2.00pm</option>
                <option value="1">9.00am-12.00pm</option>
                <option value="1">9.00am-1.00pm</option>
                <option value="1">1.00pm-5.00pm</option>
                <option value="1">1.30pm-6.30pm</option>
                <option value="1">3.00pm-7.00pm</option>
                <option value="1">4.00pm-7.00pm</option>
                <option value="1">5.00pm-8.00pm</option>
                <option value="1">5.00pm-9.00pm</option>
                <option value="1">7.00pm-10.00pm</option>
                <option value="1">8.00pm-2.00am</option>
                <option value="1">8.00pm-5.30am</option>
            </select>

            <select class="form-control formstextstyle" id="Weekdays">
                <option value="#" selected disabled hidden>Select Shift Sat - Sun</option>
                <option value="1">7.30am-10.30am</option>
                <option value="1">7.30am-11.30am</option>
                <option value="1">7.30am-2.00pm</option>
                <option value="1">9.00am-12.00pm</option>
                <option value="1">9.00am-1.00pm</option>
                <option value="1">1.00pm-5.00pm</option>
                <option value="1">1.30pm-6.30pm</option>
                <option value="1">3.00pm-7.00pm</option>
                <option value="1">4.00pm-7.00pm</option>
                <option value="1">5.00pm-8.00pm</option>
                <option value="1">5.00pm-9.00pm</option>
                <option value="1">7.00pm-10.00pm</option>
                <option value="1">8.00pm-2.00am</option>
                <option value="1">8.00pm-5.30am</option>
                <option value="1">9.00pm-2.00am</option>
            </select>
            <hr>

            <select asp-for="S1SickneesInfo" class="form-control formstextstyle" id="Reason">
                <option value="#" selected disabled hidden>Select Sickness Reason</option>
                <option value="1">Anxiety/Stress/Depression/Other Psychiatric</option>
                <option value="1">Back Problems</option>
                <option value="1">Cold, Cough, Flu</option>
                <option value="1">Chest and Respiratory Problems</option>
                <option value="1">Headache / Migraine</option>
                <option value="1">Ear, Nose, Throat</option>
                <option value="1">Gastrointestinal Problems - Diarrhoea / Vomiting </option>
                <option value="1">Injury, Fracture</option>
                <option value="1">Other known</option>
                <option value="1">Unknown - not specified</option>
                <option value="1">COVID Related</option>
            </select>

            <textarea class="form-control formstextstyle" rows="4" id="description"
                      placeholder="Additional information"></textarea>
            <hr>
            <div class="input-group pb-2">
                <input type="text" class="form-control formstextstyle docs-date" name="startdate"
                       placeholder="Absence Start Date" autocomplete="off" data-toggle="tooltip" data-placement="top" title="RTW">
                <div class="input-group-append">
                    <span class="input-group-text px-2">
                        <i class="fa fa-calendar"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="input-group pb-2">
                <input asp-for="S1Abend" type="text" class="form-control formstextstyle docs-date" placeholder="Absence End Date"
                       autocomplete="off" data-toggle="tooltip" data-placement="top" title="RTW">
                <div class="input-group-append">
                    <span class="input-group-text px-2">
                        <i class="fa fa-calendar"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="input-group pb-2">
                <input type="text" class="form-control formstextstyle docs-date" name="rtwdate"
                       placeholder="Return to Work Date" autocomplete="off" data-toggle="tooltip" data-placement="top" title="RTW">
                <div class="input-group-append">
                    <span class="input-group-text px-2">
                        <i class="fa fa-calendar"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <hr>
            <h6>Absence Length Short Term?</h6>
            <div class="custom-control custom-radio custom-control-inline formstextstyle ml-3">
                <input asp-for="S1AbLenghtLt" type="radio" class="custom-control-input" id="yes" name="rb1" value="2">
                <label class="custom-control-label" for="yes">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline formstextstyle">
                <input asp-for="S1AbLenghtLt" type="radio" class="custom-control-input" id="no" name="rb1" value="2">
                <label class="custom-control-label" for="no">No</label>
            </div>
            <input asp-for="S1ConHours" type="text" class="form-control formstextstyle" id="Ref" placeholder="Contracted hours">

            <h6>Absence Length Short Term?</h6>
            <div class="custom-control custom-radio custom-control-inline formstextstyle ml-3">
                <input asp-for="S1AbLenghtSt" type="radio" class="custom-control-input" id="yes" name="rb1" value="2">
                <label class="custom-control-label" for="yes">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline formstextstyle">
                <input asp-for="S1AbLenghtSt" type="radio" class="custom-control-input" id="no" name="rb1" value="2">
                <label class="custom-control-label" for="no">No</label>
            </div>

            <input type="text" class="form-control formstextstyle" id="Ref" placeholder="Contracted hours">

            <div class="text-right mt-3">
                <button class="btn btn-success" type="submit">Save / Update</button>
            </div>

        </form>
    </div>

</section>
