
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized Context="context">
                    @if (context is { User: { } })
                    {
                        <div id="name">
                            <b>@context.User.FindFirst(ClaimTypes.Name)?.Value 
                                <a href="/account/logout">Logout</a></b>
                        </div>
                    }
                </Authorized>
                <NotAuthorized>
                    The User is not authorized
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
