@model AuditDetailCreationDto
@{
    ViewData["Title"] = "Audit Questions";
}

@await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
<!-- Start new checklist -->
<section class="container bg-lightgrey rounded mb-2 border-bottom">
    <div class="row p-2 color-myblue text-center">
        <div class="col-md-12">
            <h4 class="mt-2 font-weight-bold text-uppercase">@Model.SectionName</h4>
        </div>
    </div>
</section>

<!-- Start new checklist -->
<section class="container p-1 bg-lightgrey rounded">
    <form enctype="multipart/form-data"
          asp-controller="Admin"
          asp-action="SaveAuditing"
          method="post">
        <input asp-for="SectionId" type="hidden" />
        <input asp-for="MasterId" type="hidden" />
        @for (var i = 0; i < Model.QuestionList.Count; i++)
        {
            <input asp-for="QuestionList[i].AspectID" type="hidden" />
            <input asp-for="QuestionList[i].SectionID" type="hidden" />
            <input asp-for="QuestionList[i].QuestsID" type="hidden" />

            <div class="row border-bottom m-2">
                <div class="col-md-10 bg-white px-4 py-3 rounded">
                    <div class="mb-3">
                        <h6>
                            @Model.QuestionList[i].QuestText
                        </h6>
                    </div>

                    <div>
                        <input asp-for="QuestionList[i].Comment" type="text" class="form-control formstextstyle"
                           id="comment_@Model.QuestionList[i].QuestsID" placeholder="Comments">
                    </div>

                </div>

                <div class="col-md-2 bg-lightergrey px-3 py-3 rounded">
                    <div>
                        <kbd>01</kbd>
                        <select asp-for="QuestionList[i].ResultDropdownId" 
                            asp-items="@(new SelectList(Model.QuestionList[i].ResultDropdowns, nameof(ResultDropdown.Value),
                                        nameof(ResultDropdown.Text)))"
                            class="form-control formstextstyle mt-2"
                            id="answere__@Model.QuestionList[i].QuestsID">
                            <option value="#" selected disabled hidden></option>
                            @*<option value="1">YES</option>
                            <option value="2">NO</option>
                            <option value="3">NA</option>*@
                        </select>
                    </div>
                    <span asp-validation-for="QuestionList[i].ResultDropdownId" class="text-danger"></span>
                </div>
            </div>
        }


        <div class="row border-bottom p-2">
            <div class="col-md-4 mb-sm-2">
                <a asp-controller="Admin" asp-action="AuditSections"
                   asp-route-pAuditMasterId="@Model.MasterId" class="btn btn-block btn-lg btn-dark">CANCEL</a>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-block btn-lg btn-success">SAVE AND EXIT</button>
            </div>
        </div>
    </form>
</section>
