@{
    ViewData["Title"] = "Search Audits";
}
@await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
<!-- Start of  grid -->
<section class="container p-0 mt-4">
    <h4 class="color-myblue mb-3 text-center">SEARCH AUDITS</h4>
    <div class="row">

        <!-- Search form -->
        <div class="col-md-3 input-group mb-3 d-print-none">
            <input onkeydown="return false" type="text" class="form-control formstextstyle docs-date" name="datefrom"
                   placeholder="From" autocomplete="off" data-toggle="tooltip" data-placement="top"
                   title="From Date">
            <div class="input-group-append">
                <a href="#" class="input-group-text px-2">
                    <i class="fas fa-calendar" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3 input-group mb-3 d-print-none">
            <input onkeydown="return false" type="text" class="form-control formstextstyle docs-date" name="dateto"
                   placeholder="To" autocomplete="off" data-toggle="tooltip" data-placement="top"
                   title="To Date">
            <div class="input-group-append">
                <a href="#" class="input-group-text px-2">
                    <i class="fas fa-calendar" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="col-md-6 input-group mb-3 d-print-none">
            <input type="text" class="form-control formstextstyle" name="searchemployee" data-toggle="tooltip"
                   data-placement="top" title="Search audits by area name" id="searchname"
                   placeholder="Search Audits">
            <div class="input-group-append">
                <a href="#" class="input-group-text px-2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-light table-striped table-hover table-bordered small">
            <thead>
                <tr class="text-white bg-lightgrey2">
                    <th class="gcol25">Date</th>
                    <th class="gcol40">Area</th>
                    <th class="gcol5">FR</th>
                    <th class="gcol20">Supervisor</th>
                    <th class="gcol5">Score</th>
                    <th class="gcol5">Status</th>
                    <th class="gcol5">View</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">ED EDRU</a></td>
                    <td>FR1</td>
                    <td>Dorcas Ogundeji</td>
                    <td>92%</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">Ground Floor Toilet Run</a></td>
                    <td>FR1</td>
                    <td>Gail Francis</td>
                    <td>92%</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">Main Theatre 1,2,3</a></td>
                    <td>FR2</td>
                    <td>Nikkita Hammett</td>
                    <td>92%</td>
                    <td class="text-center"><i class="far fa-pause-circle fa-lg text-warning"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">Ward 25 Isolation Unit</a></td>
                    <td>FR3</td>
                    <td>Julia Mannion</td>
                    <td>92%</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">Gynae Treatment (GAU)</a></td>
                    <td>FR4</td>
                    <td>Lisa Richards</td>
                    <td>92%</td>
                    <td class="text-center"><i class="fas fa-check fa-lg text-success"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>12/02/2022 12:30:45</td>
                    <td><a href="auditsections.html" class="text-primary">Sterile Services</a></td>
                    <td>FR5</td>
                    <td>David Hannaford</td>
                    <td>92%</td>
                    <td class="text-center"><i class="far fa-pause-circle fa-lg text-warning"></i></td>
                    <td class="text-center">
                        <a href="auditreport.html"><i class="fas fa-info-circle fa-lg text-info"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <nav class="d-print-none">
        <ul class="pagination small justify-content-center">
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>&laquo;</span></a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link px-3 py-2">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2">2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2">3</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link px-3 py-2"><span>&raquo;</span></a>
            </li>
        </ul>
    </nav>
    <!-- End of pagination -->

    <div class="row p-2 d-print-none">
        <div class="col-md-4 mb-sm-2">
            <a asp-controller="admin" asp-action="dashboard" class="btn btn-block btn-lg btn-dark">BACK</a>

        </div>
        <div class="col-md-8">
            <button class="btn btn-block btn-lg btn-success" onclick="window.print()">PRINT</button>
        </div>
    </div>

</section>
<!-- End of rooms grid -->
