<div class="AdoptionAndValue">
    
    <MudContainer>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <MobileMockup />
            </div>
            <div class="col-md-6">
                <ReddocoinGrowth />
            </div>
        </div>
    </MudContainer>
</div>