<div class="ReddocoinGrowth">
    <div class="heading">
        <span>Reddocoin</span> Adoption and<br /> Value Growth
    </div>
    <div class="desc-long">
        Usability is a critical requirement for cryptocurrency adoption. For such reason, we plan to reward Reddocoin users for their loyalty and support in making Reddocoin their daily transaction currency. For this, we have designed the Reddocoin referral and loyalty program for the rest of us. Usability will enhance the future value of Reddocoin and foster ecosystem growth opportunities, as well as, the mass adoption of crypto currency.
    </div>
    <div class="desc-summery">
        With the right opportunity, timing, and partnerships, Reddo is poised for explosive growth.
    </div>
</div>