@model AppUser
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_home.cshtml";
}

<div class="row p-0 m-0 bg-light vh-100 align-items-center">
    <div class="col-sm-12">
        <div class="p-1 text-center mb-4">
            <img src="/rtwimages/AmbinetSoftwareLogo170px.png" alt="Ambinet Software">
        </div>
        <div class="loginbox text-center mx-auto rounded">
            <div class="text-center pt-1 pb-2">
                <a asp-action="login" asp-controller="auth"><img src="/rtwimages/logo.png" alt="Rerurn to Work Interview"></a>
            </div>

            <form enctype="multipart/form-data" asp-controller="auth" asp-action="login"
                  method="post">
                <div class="form-group">
                    <input asp-for="UserEmail" type="text" class="form-control mb-2" placeholder="Email" id="user">
                    <input asp-for="UserPw" type="password" class="form-control mb-2" placeholder="Password" id="pass">

                    <!-- <div class="d-flex justify-content-between px-2">
                      <p><a href="forgotpw.html" class="text-primary small">Forgot Password</a></p>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" unchecked id="rem">
                        <label for="rem" id="rem" class="form-check-label text-dark small">Remember
                          me</label>
                      </div>
                    </div> -->


                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>

        @if (Model != null && !Model.IsLoggedIn)
        {
            <div class="alertboxsmall mx-auto alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Info!</strong> Incorrect credentials provided
            </div>
        }
    </div>
</div>


